<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir usuario ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Id: <span id="modalId"></span></p>
                <p>Nome: <span id="modalNome"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                <button onclick="excluirUsuario()" type="button" class="btn btn-danger">Excluir</button>                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    
    <h1 class="text-center">Contatos</h1>    
    
    {{#each usuarios}}
    <ul class="list-group list-group-horizontal lista">
        <img class="imgPerfil" src="../../../uploads/img_perfil_usuario/{{this.imagem}}">
        <li class="list-group-item">Id: {{this.id}}</li>
        <li class="list-group-item">Nome: {{this.nome}}</li>
        <li class="list-group-item">Contato: {{this.contato}}</li>
        <li class="list-group-item"><button class="btn btn-warning"><a href="http://localhost:3000/editar/{{this.id}}">Editar</a></button></li>
            <!-- Button trigger modal -->
        <li class="list-group-item"><button onclick="alterarValorModal({{this.id}},'{{this.nome}}')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir</button></li>
        
    </ul>
    {{/each}}
</div>
